In [ ]:
import pandas as pd
df = pd.DataFrame()
df.head()

In [ ]:
lst = ['Kế toán','Kinh doanh','Tiếp thị']
df = pd.DataFrame(lst)
print(df)

In [ ]:
tuples = [('Kế toán', 2000),( 'Kinh doanh', 2100), ('Tiếp thị', 1900)]
df = pd.DataFrame(tuples, columns=['Nghề','Lương'])
print(df)

In [ ]:
import pandas as pd
df = pd.DataFrame()
dic = {'Nghề':['Kế toán','Kinh doanh','Tiếp thị'],
       'Lương':[2000, 2100, 1900]}
df = pd.DataFrame(dic)
print(df)

In [7]:
import pandas as pd
df = pd.read_csv("FoodPrice_in_Turkey.csv")
print(df.head())
print(df.shape)
print("Số dòng dữ liệu: ",df.shape[0])
print("Số cột dữ liệu: ",df.shape[1])
print(df.columns)
print(df.dtypes)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [14]:
import pandas as pd
df=pd.read_csv(filepath_or_buffer = 'GDPlist.csv', sep = ',')
# Hiển thị 5 dòng dữ liệu đầu tiên
df.head()

       Country      Continent  GDP (millions of US$)
0  Afghanistan           Asia                  18181
1      Albania         Europe                  12847
2      Algeria         Africa                 190709
3       Angola         Africa                 100948
4    Argentina  South America                 447644