ƒê·ªçc b·ªô d·ªØ li·ªáu, cho bi·∫øt s·ªë d√≤ng, s·ªë c·ªôt v√† ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c thu·ªôc t√≠nh.
Vi·ªát h√≥a t√™n c√°c c·ªôt trong b·∫£ng d·ªØ li·ªáu: Country ü°™ Nuoc; Continent ü°™ Chauluc; GDP (millions of US$) ü°™ GDP (trieu $)
Ch√®n th√™m m·ªôt c·ªôt ‚ÄúThanhpho‚Äù v√†o sau c·ªôt ‚ÄúNuoc‚Äù, gi√° tr·ªã ban ƒë·∫ßu l√† gi√° tr·ªã c·ªßa c·ªôt ‚ÄúNuoc‚Äù    
Trong c·ªôt Thanhpho, thay gi√° tr·ªã Vietnam th√†nh Hanoi; L√†m t∆∞∆°ng t·ª± v·ªõi c√°c n∆∞·ªõc c√≤n l·∫°i.
X√≥a c√°c b·∫£n ghi c√≥ Chauluc l√† ‚ÄòAsia‚Äô
X√≥a c√°c b·∫£n ghi c√≥ GDP < 300000

In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv('GDPlist.csv')
df.head(10)
print(df.shape)
print(df.columns)
print(df.info())
print(df.dtypes)

In [ ]:
df.rename(columns={'Country':'Nuoc','Continent':'Chauluc','GDP (millions of US$)':'GDP (trieu $)'},inplace=True)
print(df.head(10))

In [72]:
import pandas as pd
import numpy as np

df=pd.read_csv('GDPlist.csv')
df.rename(columns={'Country':'Nuoc','Continent':'Chauluc','GDP (millions of US$)':'GDP (trieu $)'},inplace=True)
df.insert(1,'Thanh pho',pd.Series(df.loc[:,'Nuoc'] , index=df.index))
df['Thanh pho'].replace('Vietnam','Ha noi',inplace = True)
print(df.loc[122])
#df.loc[df.ChauLuc == ‚ÄòAsia‚Äô].index
df.drop(df.loc[df['Chauluc']=='Asia'].index, inplace=True)

df.drop(df.loc[df['GDP (trieu $)']<300000].index, inplace=True)

df.head()

Nuoc             Vietnam
Thanh pho         Ha noi
Chauluc             Asia
GDP (trieu $)     122722
Name: 122, dtype: object

         Nuoc  Thanh pho        Chauluc  GDP (trieu $)
4   Argentina  Argentina  South America         447644
5   Australia  Australia        Oceania        1488221
6     Austria    Austria         Europe         419243
11    Belgium    Belgium         Europe         513396
15     Brazil     Brazil  South America        2492908

In [74]:
import pandas as pd
import numpy as np

df=pd.read_csv('OnlineRetail.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None