ƒê·ªçc b·ªô d·ªØ li·ªáu, cho bi·∫øt s·ªë d√≤ng, s·ªë c·ªôt v√† ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c thu·ªôc t√≠nh.
Vi·ªát h√≥a t√™n c√°c c·ªôt trong b·∫£ng d·ªØ li·ªáu: Country ü°™ Nuoc; Continent ü°™ Chauluc; GDP (millions of US$) ü°™ GDP (trieu $)
Ch√®n th√™m m·ªôt c·ªôt ‚ÄúThanhpho‚Äù v√†o sau c·ªôt ‚ÄúNuoc‚Äù, gi√° tr·ªã ban ƒë·∫ßu l√† gi√° tr·ªã c·ªßa c·ªôt ‚ÄúNuoc‚Äù    
Trong c·ªôt Thanhpho, thay gi√° tr·ªã Vietnam th√†nh Hanoi; L√†m t∆∞∆°ng t·ª± v·ªõi c√°c n∆∞·ªõc c√≤n l·∫°i.
X√≥a c√°c b·∫£n ghi c√≥ Chauluc l√† ‚ÄòAsia‚Äô
X√≥a c√°c b·∫£n ghi c√≥ GDP < 300000

In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv('GDPlist.csv')
df.head(10)
print(df.shape)
print(df.columns)
print(df.info())
print(df.dtypes)

In [ ]:
df.rename(columns={'Country':'Nuoc','Continent':'Chauluc','GDP (millions of US$)':'GDP (trieu $)'},inplace=True)
print(df.head(10))

In [72]:
import pandas as pd
import numpy as np

df=pd.read_csv('GDPlist.csv')
df.rename(columns={'Country':'Nuoc','Continent':'Chauluc','GDP (millions of US$)':'GDP (trieu $)'},inplace=True)
df.insert(1,'Thanh pho',pd.Series(df.loc[:,'Nuoc'] , index=df.index))
df['Thanh pho'].replace('Vietnam','Ha noi',inplace = True)
print(df.loc[122])
#df.loc[df.ChauLuc == ‚ÄòAsia‚Äô].index
df.drop(df.loc[df['Chauluc']=='Asia'].index, inplace=True)

df.drop(df.loc[df['GDP (trieu $)']<300000].index, inplace=True)

df.head()

Nuoc             Vietnam
Thanh pho         Ha noi
Chauluc             Asia
GDP (trieu $)     122722
Name: 122, dtype: object

         Nuoc  Thanh pho        Chauluc  GDP (trieu $)
4   Argentina  Argentina  South America         447644
5   Australia  Australia        Oceania        1488221
6     Austria    Austria         Europe         419243
11    Belgium    Belgium         Europe         513396
15     Brazil     Brazil  South America        2492908

In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv('OnlineRetail.csv')
print(df.info())
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [3]:
tg = df.iloc[3:8]
tg

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom

In [4]:
# Truy c·∫≠p c·ªôt th·ª© 4 c·ªßa d·ªØ li·ªáu
# : ƒë∆∞·ª£c s·ª≠ d·ª•ng ƒë·ªÉ ƒë·∫°i di·ªán cho t·∫•t c·∫£ c√°c d√≤ng.
tg = df.iloc[:,4]
tg

0          12/1/2010 8:26
1          12/1/2010 8:26
2          12/1/2010 8:26
3          12/1/2010 8:26
4          12/1/2010 8:26
               ...
541904    12/9/2011 12:50
541905    12/9/2011 12:50
541906    12/9/2011 12:50
541907    12/9/2011 12:50
541908    12/9/2011 12:50
Name: InvoiceDate, Length: 541909, dtype: object

In [5]:
tg = df.iloc[:,3:8]
tg

        Quantity      InvoiceDate  UnitPrice  CustomerID         Country
0              6   12/1/2010 8:26       2.55     17850.0  United Kingdom
1              6   12/1/2010 8:26       3.39     17850.0  United Kingdom
2              8   12/1/2010 8:26       2.75     17850.0  United Kingdom
3              6   12/1/2010 8:26       3.39     17850.0  United Kingdom
4              6   12/1/2010 8:26       3.39     17850.0  United Kingdom
...          ...              ...        ...         ...             ...
541904        12  12/9/2011 12:50       0.85     12680.0          France
541905         6  12/9/2011 12:50       2.10     12680.0          France
541906         4  12/9/2011 12:50       4.15     12680.0          France
541907         4  12/9/2011 12:50       4.15     12680.0          France
541908         3  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 5 columns]

In [6]:
# Truy c·∫≠p t·ªõi ph·∫ßn t·ª≠ t·∫°i d√≤ng 3 c·ªôt 7 c·ªßa d·ªØ li·ªáu
tg = df.iloc[3,7]
tg
tg = df.iloc[3:5,5:7]
tg

   UnitPrice  CustomerID
3       3.39     17850.0
4       3.39     17850.0

In [8]:
df=pd.read_csv('OnlineRetail.csv')
print(df.info())

tg = df.loc[df.Year >= 2019]
tg

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

AttributeError: 'DataFrame' object has no attribute 'Year'

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv('OnlineRetail.csv')
print(df.head(10))
print(df.info())
#2.	Tr√≠ch xu·∫•t d·ªØ li·ªáu c√°c c·ªôt Description v√† Quantity l∆∞u v√†o file OnlineRetail.csv
df_2=df.iloc[:,2:4]
df_2.head()
df_2.to_csv("OnlineRetail_2.csv")
#3.Tr√≠ch xu·∫•t d·ªØ li·ªáu 1000 d√≤ng ƒë·∫ßu ti√™n l∆∞u v√†o file OnlineRetail.xlsx
df_3=df.iloc[:1000]
df_3.to_excel("OnlineRetail_3.xlsx")
#4.	Tr√≠ch xu·∫•t c√°c b·∫£n ghi c√≥ s·ªë l∆∞·ª£ng t·ª´ 10 tr·ªü l√™n l∆∞u v√†o file OnlineRetail.h5
df_4=df.loc[df.Quantity>=10]
df_4.to_hdf("OnlineRetail_4.h5", 'table')
#5.Tr√≠ch xu·∫•t d·ªØ li·ªáu c√°c ph·∫ßn t·ª≠ t·ª´ d√≤ng 1000 ƒë·∫øn d√≤ng 2000, c√°c c·ªôt Quantity, InvoiceDate, UnitPrice l∆∞u v√†o file OnlineRetail.json
df_5=df.iloc[1000:2000,3:6]
df_5.to_json("OnlineRetail_5.json",orient='columns')
#6.Tr√≠ch xu·∫•t c√°c b·∫£n ghi c√≥ s·ªë h√≥a ƒë∆°n ‚Äò536365‚Äô l∆∞u v√†o file OnlineRetail.html
df_5=df.loc[df.InvoiceNo=='536365']
df_5.to_html('OnlineRetail_6.html')

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
5  12/1/2010 8:26       7.65     17850.0  United Kingdom
6  12/1/2010 8:26       4.25     17850.0  United Kingdom
7  12/1/2010 8:28       1.85     17850.0  United Kingdom
8  12/1/2010 8:28       1.85     17850.0  United Kingdom
9  12/1/2010 8:34       1.69     13047.0  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

C:\Users\quochau_bui\Anaconda3\lib\site-packages\pandas\core\generic.py:2703: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'Country'], dtype='object')]

  pytables.to_hdf(